@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
.scoreboard_wrapper {
    font-size: 2.5vmax;
}
.scoreboard {
    margin: 3vh 3vw 3vh 3vw; 
    display: table;
    border-radius: 1vmax;
    padding: 0.5vmax;
    color: white;
    color: oklch(100% 0 0);
    background: rgba(45, 29, 29, 0.5);
    background: oklch(25% 0.025 20 / 50%);
}
.home, .away {
    display: table-row;
}
.set, .color, .team, .serve, .score {
    display: table-cell;
}
.team {
    position: relative;
    padding-left: 1vmax;
    padding-right: 2vmax;
    text-align: left;
}
.score {
    padding-left: 1vmax;
    padding-right: 0.5vmax;
    font-weight: bold;
    text-align: right;
}
.set {
    text-align: left;
    padding-left: 0.5vmax;
    padding-right: 1vmax;
    font-weight: bold;
    color: black;
    color: oklch(0% 0 0);
}
.color {
    width: 1vmax;
}
.serve {
    aspect-ratio: 1/1;
    min-width: 1em;
    width: 1em;    
}
.serving {
    background-image: url("volleyball.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain; 
    aspect-ratio: 1 / 1;
}
.ended {
    display: table-cell;
    padding-right: 0.5vmax;
    text-align: center;
    font-size: 0.6em;
    font-weight: 900;
    color: white;
    color: oklch(100% 0 0);
}
.home .ended { 
    vertical-align: bottom; 
    padding-bottom: 0.25vmax;
}
.away .ended { 
    vertical-align: top; 
    padding-top: 0.25vmax;
}
.ended-sets {
    display: contents; 
}
.ended-sets .ended:first-child {
    padding-left: 1vmax;
}
.lineup {
    display: table;
    position: absolute;
    top: 3vh;
    right: 3vw;
    background: rgba(45, 29, 29, 0.5);
    background: oklch(25% 0.025 20 / 50%);
    color: white;
    color: oklch(100% 0 0);
    font-weight: bold;
    padding: 0.5vmax;
    border-radius: 1vmax;
}
.home_team, .away_team {
    display: table-cell;
    padding: 0 1vmax;
    vertical-align: top;
}
.player {
    margin-bottom: 0.2em;
}
.libero {
    font-style: italic;
}
.number {
    display: inline-block;
    width: 2em;
    text-align: right;
    margin-right: 0.5em;
}
.name {
    display: inline-block;
}
.team_name {
    font-size: 0.8em;
    text-align: center;
    margin: 0.5em 0;
    font-weight: bold;
}
.highlight {
    position: absolute;
    bottom: 3vh;
    right: 3vw;
    background: rgba(45, 29, 29, 0.5);
    background: oklch(25% 0.025 20 / 50%);
    color: white;
    color: oklch(100% 0 0);
    font-weight: bold;
    padding: 0.5vmax;
    border-radius: 1vmax;
    text-align: center;
}
.highlight_desc {
    font-size: 0.9em;
    margin-bottom: 0.2em;
}
.highlight_player {
    font-size: 0.8em;
}
