@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}
.scoreboard_wrapper {
    font-size: 2.5vmax;
}
.scoreboard {
    margin: 3vh 3vmax 3vh 3vmax; 
    display: table;
    color: white;
    border-radius: 1vmax;
    padding: 0.5vmax;
    background: rgba(38, 86, 100, 0.5);
}
.home, .away {
    display: table-row;
}
.set, .color, .team, .serve, .score {
    display: table-cell;
}
.team {
    position: relative;
    padding-left: 1vmax;
    padding-right: 2vmax;
    text-align: left;
}
.score {
    padding-left: 1vmax;
    padding-right: 0.5vmax;
    font-weight: bold;
    text-align: right;
}
.set {
    text-align: left;
    padding-left: 0.5vmax;
    padding-right: 1vmax;
    font-weight: bold;
    color: black;
}
.color {
    width: 1vmax;
}
#home_color {
    background: blue;
}
#away_color {
    background: yellow;
}
.serve {
    min-width: 2.5vmax;
    width: 2.5vmax;
}
.serving {
    background-image: url("volleyball.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain; 
    aspect-ratio: 1 / 1;
}
